* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculator {
  padding: 15px;
  background-color: rgba(50, 30, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(4, 68px);
  box-shadow: inset 5px 5px 12px rgba(50, 30, 0, 0.8),
    5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 10px;
}
input {
  grid-column: span 4;
  height: 80px;
  color: white;
  padding-right: 1rem;
  width: 260px;
  background-color: rgba(50, 30, 0, 0.8);
  border-style: none;
  box-shadow: inset -5px -5px 12px rgba(50, 30, 0, 0.8),
    inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  font-size: 50px;
  font-weight: bold;
  font-family: serif;
  text-align: end;
  margin-top: 40px;
  margin-bottom: 30px;
}
button {
  height: 48px;
  width: 48px;
  border-radius: 40px;
  padding: 10px;
  box-shadow: inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  font-size: 18px;
  background-color: rgba(153, 143, 128, 0.88);
  color: white;
  margin: 8px;
}
.equal {
  width: 120px;
}
